.about-page {
  font-family: "Poppins", sans-serif;
  color: #222;
  line-height: 1.7;
  background-color: #fafafa;
}

/* Base Section */
.about-page section {
  padding: 40px 0px;
  max-width: 100%;
  margin: 0 auto;
  opacity: 0;
  transform: translateX(-80px);
  transition: opacity 1s ease, transform 1s ease;
}

/* When visible on scroll */
.about-section.visible {
  opacity: 1;
  transform: translateX(0);
}

/* Headings */
.about-page h1 {
  font-family: 'Cormorant Garamond';
  text-decoration: underline;
  font-size: 42px;
  text-align: center;
  margin-bottom: 10px;
  color: #0a192f;
  text-decoration: underline;
}

.about-page h2 {
  font-size: 28px;
  color: #0a192f;
  margin-bottom: 20px;
}

.about-page h3 {
  font-size: 20px;
  color: #003366;
  margin-top: 25px;
  margin-bottom: 10px;
}

/* Intro section */
.about-intro {
  background-color: #eaf2f8;
  border-radius: 10px;
  text-align: center;
}

.about-intro h2 {
  color: #0056b3;
  font-weight: 500;
}

/* Vision & Mission section styling */
.about-vision,
.about-mission {
  background-color: #ffffff;
  border-left: 5px solid #0a192f;
  border-radius: 6px;
 margin-left: 10px;
}

.about-services {
  background-color: #f2f6fc;
  border-radius: 10px;

}

.about-services .service h3 {
  color: #0d4dae;
  font-size: 18px;
  font-weight: 200;
}

.service {
  margin-bottom: 30px;
}

.about-why {
  background-color: #eaf2f8;
  border-radius: 10px;
}

.about-why ul {
  list-style: none;
  padding: 0;
}

.about-why li {
  margin: 8px 0;
  font-weight: 500;
}

.about-footer {
  background-color: #0a192f;
  color: #fff;
  text-align: center;
  padding: 70px 20px;
}

.about-footer h2 {
  color: #ffffff;
  margin-bottom: 15px;
}

/* Responsive tweaks */
@media (max-width: 768px) {
  .about-page h1 {
      
    margin-top: 60px;
    font-size: 30px;
  }

  .about-page h2 {
    font-size: 22px;
  }

  .about-page section {
    padding: 40px 5px;
    transform: translateX(-40px); /* smaller slide for mobile */
  }
}
.gradient-title {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background: linear-gradient(to right, #087584 0%, white 80%);
  /* #007bff = start color, white fades at 70% */
  color: white;
  position: relative;
  overflow: hidden;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  
}



/* Optional: Fade text color slightly into dark tone */
@media (max-width: 768px) {
  .gradient-title {
    padding: 28px 0;
    font-weight: bold;
    font-size: 1.6rem;
    background: linear-gradient(to right, #087584 0%, white 90%);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }

}
