.product-details-page {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
}

.details-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  gap: 40px;
}

.details-left {
  flex: 1 1 400px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-left .product-slideshow {
  width: 100%;
  max-width: 450px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
}

.details-right {
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.details-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.details-category {
  color: #777;
  font-style: italic;
  margin-bottom: 10px;
}

.details-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #048e91;
  margin-bottom: 20px;
}

.details-description {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.back-btn {
  display: inline-block;
  background: #058fa8;
  color: white;
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 6px;
  transition: background 0.3s ease;
  font-size: 0.95rem;
}

.back-btn:hover {
  background: #0056b3;
}


@media (max-width: 768px) {
  .details-container {
    flex-direction: column;
    align-items: center;
  }

  .details-left {
    margin-top: 20px;
    width: 100%;
    display:flex;
    justify-content: center;
    background-color: #067e7452;
  }

  .details-left .product-slideshow {
    
    width: 99%;
    height: 99%; /* larger mobile image */
    
  }

  .details-right {
    width: 100%;
    text-align: center;
  }

  .details-title {
    font-size: 1.4rem;
  }
}